<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <script src="/js/navbar_utils.js"></script>
    <script src="/js/motion_sequencer/button_utils.js"></script>
    <script src="/js/motion_sequencer/motion_select.js"></script>
    <script src="/js/motion_sequencer/save.js"></script>
    <script src="/js/motion_sequencer/onload.js"></script>
</head>

<body class="bg-gray-950 overflow-y-hidden" onload="on_load_update()">
    <%- include('../partials/navbar') %>
    <div class="m-4 flex flex-row">
        <%- include('../partials/motion_sequencer/pose_table') %>
        <%- include('../partials/motion_sequencer/sequencer_table') %>
        <%- include('../partials/motion_sequencer/button') %>
    </div>
    <%- include('../partials/motion_sequencer/motion_select_popup') %>
    <%- include('../partials/motion_sequencer/save_popup') %>
</body>

</html>